<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/style.css" >
    <link rel="stylesheet" href="/static/styles/login-signup.css" >
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>Makersbnb</title>
</head>
<body>
    <nav class="header">
        <ul>
            <li class="logo"><a class="logo-link" href="/spaces"><img class="logo-img" src="/static/logo.webp" alt="makersbnb logo"><p>makersbnb</p></a></li>
            <li class="links">
                <ul>
                    <li><a href="/signup">Sign Up</a></li>
                    <p>|</p>
                    <li><a href="/about">About</a></li>
                </ul>
            </li>
        </ul>
    </nav>
            <div class="homepage-container">
            <header class="homepage-header">
                <div class="geometric-animation geometric-animation-right">
                    <div class="shape shape-1"></div>
                    <div class="shape shape-2"></div>
                    <div class="shape shape-3"></div>
                </div>
                <div class="geometric-animation geometric-animation-left">
                    <div class="shape shape-1"></div>
                    <div class="shape shape-2"></div>
                    <div class="shape shape-3"></div>
                </div>
                <h1> Host a Space</h1>
                <p class="subtitle">Share your space weather it be a cozy apartment to countryside retreat</p>
            </header>
    <!-- Content here -->
    <div class="content">
        
        <form action="/submit-space" method="POST" class="space-form">
            <h2 class="space-name">Space</h2>
            <div class="name-container input-container">
                <input type="name" id="name" name="Name" placeholder=" " required>
                <label for="name">Name</label>
    
            </div>
             <div class="description-container input-container">
                <input type="description" id="description" name="description" placeholder=" " required>
                <label for="description">Description</label>
            </div>
            <div class="price-container input-container">
                <input type="price" id="price" name="price" placeholder=" " required>
                <label for="price">Price</label>
              </div>
            <div class="user_id-container input-container">
                <input type="user_id" id="user_id" name="user_id" placeholder=" " required>
                <label for="user_id">User_id</label>
            </div>
            <input type="submit" value="Submit Space">
        </form>
    </div>
    <!-- Content here -->
    <footer class="footer">
        <p class="copyright">©2025 Makers Academy</p>
        <p>Created by:</p>
        <p><a href="https://github.com/isaac-madgwick">Isaac Madgewick</a></p>
        <p><a href="https://github.com/AnyaVeselova">Anna Veselova</a></p>
        <p><a href="https://github.com/Supersabjey">Sabia Jeyaratnam</a></p>
        <p><a href="https://github.com/Awynnm">Nazarii</a></p>
        <p><a href="https://github.com/margot-bourne">Margot Bourne</a></p>
        <p><a href="https://github.com/s111ew">Sam Llewellyn</a></p>
    </footer>
</body>
</html>