.copy {
    text-align: center;
}

.login-form,
.signup-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 30px;
    background-color: var(--grey-accent);
    border: 1px solid var(--grey-dark-accent);
    box-shadow: var(--shadow);
}

.login-title,
.signup-title {
    color: var(--orange-accent);
    text-align: center;
}

input[type="email"], 
input[type="text"], 
input[type="password"] {
    padding: 15px 10px;
}

input[type="submit"] {
    background-color: var(--orange-accent);
    color: white;
    border: none;
    padding: 15px 0px;
    border-radius: 2px;
}

input[type="submit"]:hover {
    background-color: var(--orange-dark-accent);
    cursor: pointer;
}

input[type="submit"]:active {
    background-color: var(--orange-darkest-accent);
}

.input-container {
    position: relative;
}

label {
    transition: all 0.2s;
    position: absolute;
    font-size: 12px;
    left: 15px;
    top: 32%;
}

input:focus + label,
input:not(:placeholder-shown) + label {
    font-size: 8px;
    top: 10%;
}