.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
    gap: 50px;
}

.copy {
    text-align: center;
}

.login-form,
.signup-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 45px;
    background-color: var(--grey-accent);
    border: 1px solid var(--grey-dark-accent);
    box-shadow: var(--shadow);
    align-items: center;
}

.login-title,
.signup-title {
    color: var(--orange-accent);
    text-align: center;
}

.error-title {
    white-space: normal;
    max-width: 50px; /* Or a specific pixel width if the form is fixed */
    padding: 5px 0;
    word-wrap: break-word; 
    overflow-wrap: break-word;
}

input[type="email"], 
input[type="text"], 
input[type="password"] {
    padding: 15px 15px;
}

input[type="submit"] {
    background-color: var(--orange-accent);
    color: white;
    border: none;
    padding: 15px 65px;
    border-radius: 2px;
}

input[type="submit"]:hover {
    background-color: var(--orange-dark-accent);
    cursor: pointer;
}

input[type="submit"]:active {
    background-color: var(--orange-darkest-accent);
}

.input-container {
    position: relative;
}

label {
    transition: all 0.2s;
    position: absolute;
    font-size: 12px;
    left: 15px;
    top: 32%;
}

input:focus + label,
input:not(:placeholder-shown) + label {
    font-size: 8px;
    top: 10%;
}